
    <body>
        <h1>change Password</h1>
    <form action="/Change_Password" method="post">
 
        
        <div>
            <label for="username1"> Enter username:</label>
            <input type="text" name="username1" id="username1" >
        </div>


        <div>           
            <label for="CurrentPassword">Current password</label>
            <input type="password" id="CurrentPassword" name="CurrentPassword" required>
        </div>



        <div>
                <label for="NewPassword">New password</label>
                <input type="password" id="NewPassword" name="NewPassword" required>
        </div>


        <div>

              <label for="ConfirmPassword">Verify password</label>
              <input type="password" id="ConfirmPassword" name="ConfirmPassword" required><br>

        </div>

                <button type="submit">Change password</button>
                       
            </div>
            
    </form>
    </body>
    <br><br><br><br>
 1.Password length: 10 .<br>
 2.Password composition: uppercase letters, lowercase letters, digits, special characters.<br>
 3.cant choose previous password .
<!--

2.	מסך לשינוי סיסמא עבור משתמש 
a.	הזנת סיסמא קיימת 
b.	הכנסת סיסמא חדשה אשר תעמוד בדרישות כפי שמוגדר בקובץ הקונפיגורציה
